// ==========================================================================
// Utilities
// ==========================================================================

@import "utilities/_index.scss";

// ==========================================================================
// Base Styles
// ==========================================================================

// @import "base/_index.scss";

// ==========================================================================
// Components
// ==========================================================================


@import "components/_index.scss";


* {
  box-sizing: border-box;
  // border: solid red 1px;
}

ul {
}



.container {
  width: 90%;
  margin: 0 auto;
  // display: flex;
  // flex-direction: column;
}

.link {
  @include link-style(
              block,
              1.5em 0,
              $font-weight--bold,
              $malibu,
              null);
  text-align: center;
  p > & {
  display: inline;
  margin: 0;

  }
}

.nav {
  padding: 0;
  list-style-type: none;
  margin: 1.5em 0 5em 0;
}

.nav__item {
  text-align: center;
  margin: 0;
  > a {
    @include link-style(
                block,
                null,
                $font-weight--medium,
                $grey,
                1em);
    &:hover {
        background-color: $viking;
        border-radius: 0.25em;
        color: $white;
    }
  }
}

.card {
  margin: 5em 0;
  > p {
    color: $grey;
    line-height: 1.5em;
    letter-spacing: -0.05px;
  }
}

.headline {
  &--secondary {
    @include hl-style($grey, $font-weight--medium, 0.5em);
    margin-top: 4em;
  }
  &--primary {
    @include hl-style($viking, $font-weight--ultra-bold, 0.75em) {
      letter-spacing: -1px;
    }
  }
}

.blockquote {
  border-left: solid 9px $viking;
  border-radius: 5px;
  padding: 0 1em;
  color: $grey;
  font-style: italic;
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 1em 1.6em 0 2em;
}

.form {
  display: flex;
  flex-direction: column;
}

.img {
  &--frame {
    width: 100%;
    border: solid lighten($grey, 30%) 1px;
    padding: 1em;
    margin-top: 2em;
  }
  &--avatar{
    display: block;
    width: 50%;
    height: 50%;
    margin: 2em auto;

  }

}

[class*="hidden"] {
  display: none;
}

.form__input {
  padding-bottom: 0.75em;
  margin: 1em;
  border-style: none;
  border-bottom: solid 6px $viking;
  &::placeholder {
  font-size: 1.1em;
  padding-left: 1em;
  color: $grey;
  font-weight: $font-weight--bold;
  }
}

.btn {
  &--default {
    @extend %btn;
    background-color: map-get($color-map, 'default');
  }
  &--success {
    @extend %btn;
    background-color: map-get($color-map, 'success');
  }
  &--error {
    @extend %btn;
    background-color: map-get($color-map, 'error');
  }
  &--warning {
    @extend %btn;
    background-color: map-get($color-map, 'warning');
  }
  &--info {
    @extend %btn;
    background-color: map-get($color-map, 'info');
  }
}

@each $col-number in $col-numbers {
  [class*="grid__col--#{$col-number} theme__colors"] {
    background-color: map-get($color-map, #{$col-number});
    color: $grey;
    font-weight: $font-weight--bold;
    padding: 1em;
    border-radius: 10px;
    margin: 0.5em 0;
    &:nth-child(1) {
      margin-top: 2.75em;
    }
  }
}
