// ==========================================================================
// Mixins
// ==========================================================================

// Adjacent sibling margins

@mixin doubly($margin: 1em) {
  & + & {
    margin-left: $margin;
    @content;
  }
}


// Flexbox settings

@mixin flexy(
  $disp,
  $dir,
  $wrap,
  $justify,
  $alignitems) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $alignitems;
}

// Media queries

@mixin mquery($break) {
  @if $break == "small" {
    @media (min-width: $brkpoint-sm) {
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $brkpoint-md + 1) {
      @content;
    }
  }
  @else {
    @error "Uh-oh! No value could be retrieved for '#{$break}'."
  }
}
