// ==========================================================================
// Placeholders
// ==========================================================================

// Center aligment
%center-align {
	text-align: center;
}

// Center Elements
%centered {
	margin: 0 auto;
}

// Clearfix
%clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

// Links

%link-style {
	font-weight: $font-weight--bold;
	color: $malibu;
}

// Images
%img {
	display: block;
	max-width: 100%;
	margin: 1em auto;
}

// Headlines
%hl-secondary {
	color: $grey;
	font-weight: $font-weight--medium;
  padding-left: 0.5em;
	margin: 0;
}

%hl-primary {
	color: $viking;
	font-weight: $font-weight--ultra-bold;
  padding-left: 0.75em;
	letter-spacing: -1px;
}

// Nav items
%nav-links {
		text-align: center;
    display: block;
    font-weight: $font-weight--medium;
    color: $grey;
    padding: 1em 1em;
}

// Buttons

%btn {
  padding: 1em 0;
  margin: 1em 0;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: $font-weight--bold;
  color: $white;
  border-radius: 5px;
	transition: opacity 1s, transform 1s;
	transition-timing-function: cubic-bezier(.40,-1.5,.65,2.5);
	&:hover {
		opacity: 0.85;
		transform: scale(1.05);
	}
	&:active {
		opacity: initial;
	}
	@include mquery(medium) {
		padding: 0.75em 3.25em;
	}
}
