// ==========================================================================
// Forms
// ==========================================================================

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__label--hidden {
  display: none;
}

.form__input {
  padding-bottom: 0.75em;
  margin: 1em;
  border-style: none;
  border-bottom: solid 6px $viking;
  &::placeholder {
  font-size: 1.1em;
  padding-left: 1em;
  color: $grey;
  font-weight: $font-weight--bold;
  }
}
