// ==========================================================================
// Images
// ==========================================================================

.img {
  &--logo {
    @extend %img;
  }
  &--frame {
    @extend %img;
    border: solid lighten($grey, 30%) 1px;
    padding: .75em;
  }
  &--avatar{
    @extend %img;
    padding: .75em;
  }
}
