// ==========================================================================
// Navigation
// ==========================================================================

.nav {
  @include mquery(medium) {
      display: flex;
      justify-content: center;
  }
}

.nav__item {
  & > a {
    @extend %nav-links;
    &:hover {
        background-color: $viking;
        border-radius: 0.25em;
        color: $white;
    }
  }
}
