// ==========================================================================
// Navigation
// ==========================================================================

.nav {
  margin-top: .5em;
  @include mquery(medium) {
    @include flexy(flex, null, null, center, center);
  }
}

.nav__item {
  & > a {
    @extend %nav-links;
    &:hover {
        background-color: $viking;
        border-radius: 0.25em;
        color: $white;
    }
  }
}
