// ==========================================================================
// Navigation
// ==========================================================================

.nav__item a {
  text-decoration: none;
}

.nav {
  padding: 0;
  list-style-type: none;
  margin: 1.5em 0 5em 0;
}

.nav__item {
  text-align: center;
  margin: 0;
  > a {
    @include link-style(
                block,
                null,
                $font-weight--medium,
                $grey,
                1em);
    &:hover {
        background-color: $viking;
        border-radius: 0.25em;
        color: $white;
    }
  }
}
