// ==========================================================================
// Typography
// ==========================================================================


// Import if Google Fonts URL is defined

@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

.container {
  font-family: $font-family--primary;
  width: 90%;
  max-width: 1190px;
  margin: 0 auto;
}

.card {
  margin-bottom: 3em;
}

.headline {
  &--secondary {
    @extend %hl-secondary;
  }
  &--primary {
    @extend %hl-primary;
  }
}

.blockquote {
  border-left: solid 9px $viking;
  border-radius: 5px;
  padding: 0 1em;
  color: $grey;
  font-style: italic;
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 1em 1.6em 0 2em;
}

.link {
  @extend %link-style;
}
