// ==========================================================================
// Base Styles
// ==========================================================================

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

p {
  color: $grey;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}
